.view {
  height: 600px;
  overflow: auto;
  width: 1200px;
  box-shadow: rgba(0, 0, 0, 0.124) 0px 1px 4px 1px inset;
  border-radius: 6px;
}

table {
  width: 98%;
  border-collapse: collapse;
  margin: auto;
}

.thead {
  box-shadow: 0px 2px 0px 0px rgba(133, 123, 123, 0.75);
}

/* .thead > th {
  border-bottom: 2px solid #5a5a5c48;
} */
table > tr > th {
  font-size: 18px;
  color: #48494c;
  height: 40px;
}

.btn-gr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-gr > button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.8s ease-in;
}

.btn-gr > button > img:hover {
  width: 30px;
}

.btn-gr > button > img:active {
  width: 20px;
}
