.view {
  min-height: 100px;
  max-height: 600px;
  overflow-x: scroll;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.124) 0px 1px 4px 1px inset;
  border-radius: 6px;
}

.tBody{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #0000000e;
  margin: 3%;
  border-radius: 10px;
  padding: 20px;
}

.tBody>h3{
  display: flex;
  align-items: center;
  padding: 10px;
}

.btn-group{
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.btn-group>button{
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  transition: all .5s ease;
  cursor: pointer;
}
.btn-group>button>img:hover{
  width: 30px;
  height: 30px;
}
.btn-group>button>img:active{
  width: 15px;
  height: 15px;
}