.employe {
  width: 100%;
  height: calc(100vh - 101px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: #cad4e9;
}

.employe > h1 {
  font-size: 50px;
  color: #52545a;
  font-weight: 400;
  margin-bottom: 30px;
}

.employe > div {
  width: 1200px;
  box-shadow: rgba(0, 0, 0, 0.124) 0px 1px 4px 1px inset;
  padding: 10px;
  border-radius: 6px;
}

.employe > div > table {
  width: 100%;
  border-collapse: collapse;
}
